{% load static %}
{% load brands %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
<section class="hero ">
    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <h2 class="logo">Funiro.</h2>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start"></div>
                <div class="navbar-item">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <span class="title btn_drop is-5">Brands</span>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {% brands %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="navbar-end">
                    <form action="{% url 'shop:products' %}" method="get">
                        <div class="field has-addons mt-5">
                            <img class="mt-1" style="height: 30px ; width: 30px;" src="{% static 'bbb.png' %}" alt="">
                            <div class="control">
                                <label>
                                    <input class="input is-normal  " type="search"
                                           placeholder="Search for minimalist chair"
                                           name="search">
                                </label>
                            </div>

                        </div>
                    </form>
                    <a class="navbar-item order" href="{% url 'shop:cart' %}">
                        <img class="mt-1" style="height: 40px ; width: 40px;" src="{% static 'cart.png' %}" alt="">
                    </a>
                    <a class="navbar-item order is-size-6" href="{% url 'shop:orders' %}">
                        Orders
                    </a>


                    <span class="navbar-item">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <div class="has-text-black " aria-haspopup="true" aria-controls="dropdown-menu ">
                                    Welcome <span class="has-text-weight-bold mx-1">{{ user }}</span>
                                </div>
                            </div>
                            <div class="dropdown-menu " id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{% url 'users:edit_profile' %}" class="dropdown-item">
                                        Edit profile
                                    </a>
                                    <a href="{% url 'users:reset_password' %}" class="dropdown-item">
                                        Reset password
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="{% url 'users:sign_out' %}" class="dropdown-item">
                                        Sign out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            {% endif %}
        </nav>
    </div>
</section>
<div class="hero-body">
    {% block auth %}
    {% endblock %}

    {% block slider %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1,
        infinite: true,
        autoplay: true,
    });
</script>


</body>

</html>